body{
   background-color: black;
}

.titulo-principal{
  color: white;
  padding-left: 20px;
}
  
#imagemjpg{
    height: 200px;
    width: 100%;
    margin:red;
}

.principal{
   color: white;
}

.titulos-centralizados{ 
   text-align: center
}

p {
   text-align: center
}

#missao{
   font-size: 20px
}

em strong{
   color: red;
}

.beneficios{
   color: green;
   display: inline-block;
   width: 50%;
}

.itens{
   font-style: italic;
}

.img{
  display: inline-block;
  width: 25%;
}
